@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #d8dbd7;
}

.cont-video {
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
}

#cont-lobby {
    width: 1366px;
    height: 768px;
    background: url(../media/bg-home.png);
    background-size: cover;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
}

#cont-comercial {
    width: 1366px;
    height: 768px;
    background: url(../media/bg-muestra-comercial.jpg);
    background-size: cover;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
}

#cont-auditorio {
    width: 1366px;
    height: 768px;
    background: url(../media/bg-auditorio.png);
    background-size: cover;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
}

#cont-auditorio .cont-poster-lefta {
    width: 240px;
    height: 258px;
    background: transparent;
    position: absolute;
    left: 46px;
    top: 153px;
}

#cont-auditorio .cont-poster-righta {
    width: 241px;
    height: 304px;
    background: #ffffff;
    position: absolute;
    right: 65px;
    top: 156px;
}

#cont-auditorio .cont-poster-righta h4 {
    font-size: 18px;
    color: #ffffff;
    background: #009ada;
    display: inline-block;
    padding: 12px 18px;
    border-radius: 0px 25px 25px 0px;
    position: relative;
    margin-top: 5px;
}

#cont-auditorio .cont-poster-righta ul {
    padding: 0;
    margin: 0;
}

#cont-auditorio .cont-poster-righta ul li {
    list-style: none;
    margin-bottom: 6px;
}

#cont-auditorio .cont-poster-righta ul li a {
    display: block;
    position: relative;
    display: flex;
    align-items: center;
}

#cont-auditorio .cont-poster-righta ul li a img {
    width: 70px;
    position: relative;
    z-index: 2;
    background: #57167d;
    border-radius: 50%;
    padding: 10px;
    transition: .5s;
    border: 3px solid #e7efff;
}

#cont-auditorio .cont-poster-righta ul li a span {
    background: linear-gradient(#df94ff, #6e3a91);
    padding: 12px 30px;
    color: #ffffff;
    width: 160px;
    border-radius: 0px 24px 24px 0;
    position: relative;
    left: -20px;
    z-index: 0;
    font-weight: 600;
    transition: .5s;
}

#cont-auditorio .cont-poster-righta ul li a:hover {
    text-decoration: none;
}

#cont-auditorio .cont-poster-righta ul li a:hover img {
    background: #009ada;
}

#cont-auditorio .cont-poster-righta ul li a:hover span {
    width: 180px;

}

#cont-auditorio .cont-poster-righta ul li:nth-child(1) a span {
    background: linear-gradient(#df94ff, #6e3a91);
}

#cont-auditorio .cont-poster-righta ul li:nth-child(2) a span {
    background: linear-gradient(#ff92f3, #ff12d8);
}

#cont-auditorio .cont-poster-righta ul li:nth-child(3) a span {
    background: linear-gradient(#b590ff, #691cff);
}


#cont-auditorio .cont-events-items {
    background: rgb(255, 255, 255) url(../media/bg-espacio-audi.png);
    background-size: cover;
    position: absolute;
    width: 617px;
    top: 156px;
    left: 379px;
    text-align: center;
}

#cont-auditorio .cont-events-items.active {
    background: #ffffff;
}

#cont-auditorio .cont-events-items p.aviso {
    color: #009ada;
    font-weight: 600;
    margin-top: 8px;
}

#cont-auditorio .cont-events-items .header-events {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 0 0;
}

#cont-auditorio .cont-events-items .header-events h2 {
    background: #009ada;
    padding: 18px 40px 18px 20px;
    font-size: 24px;
    color: #ffffff;
    border-radius: 0px 30px 30px 0;
}

#cont-auditorio .cont-events-items .header-events img {
    width: 160px;
}

#cont-auditorio .cont-events-items .header-events img.bloque {
    width: 194px;
}

#cont-auditorio .cont-events-items .item-events {
    display: none;
    padding: 0px 6px;
}

.cont-events-items .cont-btns {
    text-align: center;
    justify-content: space-around;
    display: flex;
}

.cont-events-items .cont-btns .btn-bloque {
    font-size: 22px;
    padding: 12px 70px;
    border-radius: 61px 0px;
    border: 0 transparent;
    background: #c4c4c4b3;
    border-left: 34px solid #57167d;
    font-weight: 600;
    margin-top: 15px;
    transition: .5s;
}

#cont-botones-inf .btn-bloque.hide {
    display: none;
}

.cont-events-items .cont-btns .btn-bloque:hover {
    background: #c4c4c4;
}

.cont-events-items .cont-btns .btn-bloque.profesionales {
    border-left: 34px solid #a1bc31;
}

.cont-events-items .cont-btns .btn-bloque:hover {
    border-left: 34px solid #da9500;
}

#cont-auditorio .cont-events-items #item-event.active,
#cont-auditorio .cont-events-items #item-eventa.active,
#cont-auditorio .cont-events-items #item-eventb.active,
#cont-auditorio .cont-events-items #item-eventc.active,
#cont-auditorio .cont-events-items #item-eventd.active,
#cont-auditorio .cont-events-items #item-evente.active,
#cont-auditorio .cont-events-items #item-eventf.active,
#cont-botones-inf.active {
    display: block;
}

#cont-botones-inf {
    position: relative;
    bottom: -14px;
    display: none;
}

#cont-botones-inf .btn-bloque {
    font-size: 13px;
    padding: 5px 20px;
    border-radius: 61px 0px;
    border: 0 transparent;
    background: #c4c4c4;
    border-left: 16px solid #57167d;
    font-weight: 600;
    margin-top: 15px;
    transition: .5s;
}

#cont-botones-inf .btn-bloque.prof {
    border-left: 16px solid #a1bc31;
}

#cont-botones-inf .btn-bloque:hover {
    border-left: 16px solid #da9500;
}

#cont-auditorio .cont-events-items .item-events h2 {
    position: relative;
    margin-top: 10px;
    padding: 0px 20px;
    margin-bottom: 20px;
}

#cont-auditorio .cont-events-items .item-events h2 span {
    background: #94c8c9;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 700;
    color: #ffffff;
}

#cont-auditorio .cont-events-items .item-events h2 i {
    position: absolute;
    font-size: 14px;
    border-bottom: 3px solid #94c8c9;
    bottom: -3px;
    width: 70%;
    text-align: right;
    color: #127070;
}

#cont-auditorio .cont-events-items .header-events h1 {
    /* color: #ffffff !important; */
    font-size: 16px;
    color: #000000 !important;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

.table {
    margin-top: 20px;
    margin-bottom: 0px !important;
    text-align: left;
}

#cont-auditorio .cont-events-items .item-events table tr td img {
    width: 45px;
}

#cont-auditorio .cont-events-items .item-events table tr td a:hover {
    text-decoration: none;
}

#cont-auditorio .cont-events-items .item-events table tr {
    border-bottom: 2px solid #ffffff;
}

#cont-auditorio .cont-events-items .item-events table tr td {
    padding: 5px 4px;
    position: relative;
    border-top: 0;
}

#cont-auditorio .cont-events-items .item-events table tr td .live {
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: center;
}

#cont-auditorio .cont-events-items .item-events table tr td .idiomas {
    position: absolute;
    right: 20px;
    bottom: 5px;
    text-align: center;
}

#cont-auditorio .cont-events-items .item-events table tr td .idiomas img {
    width: 20px;
}

#cont-auditorio .cont-events-items .item-events table tr td .live h4 {
    font-size: 8px;
}

#cont-auditorio .cont-events-items .item-events table tr td .live img {
    width: 25px;
    margin-top: 4px;
}

#cont-auditorio .cont-events-items .item-events table tr td h4 {
    font-size: 10px;
    margin: 0;
    color: #42706f;
    font-weight: 600;
}

#cont-auditorio .cont-events-items .item-events table tr td p {
    font-size: 8px;
    margin: 0;
    color: #000000;
}

#cont-auditorio .cont-events-items .item-events table tr td.text {

    transition: .4s;
    width: 89%;
}

#cont-auditorio .cont-events-items .item-events table tr:nth-child(odd) td.text {
    background: #cceffa;
}

#cont-auditorio .cont-events-items .item-events table tr:nth-child(even) td.text {
    background: #e9f8fc;
}


#cont-auditorio .cont-events-items .item-events table tr td.text a {
    display: inline-block;
    cursor: pointer;
}

#cont-lobby .muestra-comercial {
    position: absolute;
    left: 2%;
    top: 32%;
    height: 63px;
    width: 371px;
    background: transparent;
    text-align: center;
    color: transparent;
}

#cont-lobby .auditorio {
    position: absolute;
    right: 3%;
    top: 32%;
    height: 60px;
    width: 350px;
    background: transparent;
    text-align: center;
    color: transparent;
    padding-top: 14px;
}

.cont-menu-bottom {
    position: absolute;
    bottom: 0;
    text-align: right;
    left: 0;
    right: 0;
    padding-bottom: 30px;
    padding-right: 300px;
}

.cont-menu-bottom .menu-item {
    position: relative;
    overflow: hidden;
    width: 90px;
    display: inline-block;
    padding-top: 20px;
    transition: .5s;
    text-align: center;
}

.cont-menu-bottom .menu-item span {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    text-align: center;
    transition: .5s;
    color: transparent;
    font-size: 16px;
}

.cont-menu-bottom .menu-item img {
    width: 70px;
    transition: .5s;
    position: relative;
}

.cont-menu-bottom .menu-item:hover span {
    top: 0px;
    color: #ffffff;
}

.cont-menu-bottom .menu-item:hover img {
    width: 80px;
    transition: .5s;
}

.cont-comercial-items {
    width: 339px;
    background: transparent;
    height: 386px;
    position: absolute;
    top: 201px;
    left: 55px;
    transform: skew(0deg, 3deg);
}

.cont-comercial-items a:nth-child(1) {
    background: transparent;
    color: #666666;
    width: 85%;
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 19px;
    height: 62px;
    transform: skew(0deg, -2deg);
    text-align: center;
    padding-top: 20px;
}

.cont-comercial-items a:nth-child(2) {
    background: transparent;

    width: 85%;
    display: inline-block;
    position: absolute;
    top: 81px;
    left: 19px;
    height: 72px;
    transform: skew(-0deg, -5deg);
    text-align: center;
    color: #666666;
    padding-top: 20px;
}

.cont-comercial-items a:nth-child(3) {
    background: transparent;

    width: 85%;
    display: inline-block;
    position: absolute;
    top: 159px;
    left: 19px;
    height: 72px;
    transform: skew(0deg, -6deg);
    text-align: center;
    color: #666666;
    padding-top: 20px;
}

.cont-comercial-items a:nth-child(4) {
    background: transparent;

    width: 85%;
    display: inline-block;
    position: absolute;
    top: 242px;
    left: 19px;
    height: 72px;
    transform: skew(0deg, -6deg);
    text-align: center;
    color: #666666;
    padding-top: 20px;
}

.cont-comercial-items a:nth-child(5) {
    background: transparent;

    width: 85%;
    display: inline-block;
    position: absolute;
    top: 321px;
    left: 19px;
    height: 72px;
    transform: skew(0deg, -6deg);
    text-align: center;
    color: #666666;
    padding-top: 20px;
}

/* 
.cont-comercial-items a:nth-child(6) {
    background: transparent;
    
    width: 157px;
    display: inline-block;
    position: absolute;
    top: 140px;
    left: 12px;
    height: 44px;
}

.cont-comercial-items a:nth-child(7) {
    background: transparent;
    color: transparent;
    width: 74px;
    display: inline-block;
    position: absolute;
    top: 152px;
    left: 183px;
    height: 64px;
}

.cont-comercial-items a:nth-child(8) {
    background: transparent;
    color: transparent;
    width: 106px;
    display: inline-block;
    position: absolute;
    top: 130px;
    right: 26px;
    height: 54px;
}

.cont-comercial-items a:nth-child(9) {
    background: transparent;
    color: transparent;
    width: 152px;
    display: inline-block;
    position: absolute;
    top: 191px;
    left: 11px;
    height: 43px;
}

.cont-comercial-items a:nth-child(10) {
    background: transparent;
    color: transparent;
    width: 107px;
    display: inline-block;
    position: absolute;
    top: 187px;
    left: 282px;
    height: 37px;
}

.cont-comercial-items a:nth-child(11) {
    background: transparent;
    color: transparent;
    width: 184px;
    display: inline-block;
    position: absolute;
    top: 242px;
    left: 13px;
    height: 44px;
}

.cont-comercial-items a:nth-child(12) {
    background: transparent;
    color: transparent;
    width: 150px;
    display: inline-block;
    position: absolute;
    top: 227px;
    left: 240px;
    height: 44px;
} */

#cont-comercialA {
    width: 1366px;
    height: 768px;
    background: url(../media/bg-stand-v.jpg);
    background-size: cover;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
}

#cont-comercialA.horizontal {
    width: 1366px;
    height: 768px;
    background: url(../media/bg-stand-h.png) !important;
    background-size: cover !important;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
}

#cont-comercialA .cont-menu-bottom {
    text-align: right;
    padding-right: 300px;
}

#cont-comercialA .logoa {
    width: 212px;
    height: 126px;
    background-size: cover;
    position: absolute;
    top: 209px;
    left: 226px;
    transition: .4s;
}

#cont-comercialA .logoa:hover {
    transform: scale(.9);
}

#cont-comercialA .postera {
    position: absolute;
    width: 138px;
    height: 210px;
    left: 644px;
    top: 359px;
    text-align: center;
    background: #ffffff;
    transition: .4s;

}

#cont-comercialA .posterhorizontal {
    position: absolute;
    width: 238px;
    height: 215px;
    left: 612px;
    top: 374px;
    text-align: center;
    background: transparent;
    background: #ffffff;
    transition: .4s;
    padding-top: 30px;
}

#cont-comercialA .postera img {
    width: 118px
}

#cont-comercialA .posterab img {
    width: 162px
}

#cont-comercialA .posterhorizontal img {
    width: 100%
}

#cont-comercialA .borde-left {
    position: absolute;
    bottom: 63px;
    width: 365px;
    left: 100px;
}

#cont-comercialA .borde-left img {
    width: 100%;
}

#cont-comercialA .borde-right {
    position: absolute;
    transform: skew(-2deg, -13deg);
    bottom: 141px;
    width: 60px;
    right: 331px;
}

#cont-comercialA .borde-right img {
    width: 100%;
}

#cont-comercialA .cont-videoC {
    width: 219px;
    position: absolute;
    top: 351px;
    left: 222px;

}

#cont-comercialA .cont-videoC video {
    width: 100%;
}

#cont-comercialA .cont-logo-corp {
    position: absolute;
    bottom: 0;
    width: 122px;
    right: 600px;
    bottom: 96px;
}

#cont-comercialA .cont-logo-corp img {
    width: 100%;
}

.modal .modal-dialog {
    max-width: 70%;
}

#modal-image .modal-dialog {
    max-width: 500px;
}

#modal-image.horizontal .modal-dialog {
    max-width: 1000px;
}

#modal-image .modal-dialog img {
    width: 100%;
}

.modal .modal-dialog video {
    width: 100%;
}

.modal button.close {
    position: absolute;
    right: -7px;
    top: -4px;
    background: #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    opacity: 1;
}

.modal button.close:hover {
    opacity: 1 !important;
}


/* -------------------------- */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #94c8c9;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #94c8c9;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #94c8c9;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #ffffff;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
    background: transparent;
}

.loaded #loader-wrapper .loader-section.section-right {
    background: transparent;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

@media only screen and (min-width: 320px) and (max-width: 900px) {
    .cont-video {
        width: 96%;
        height: 100vh;
    }

    #cont-comercial,
    #cont-lobby,
    #cont-auditorio {
        width: 96%;
        height: 98vh;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #cont-auditorio .cont-poster-lefta {
        width: 18%;
        height: 43%;
        background: transparent;
        position: absolute;
        left: 3%;
        top: 22%;
    }

    #cont-auditorio .cont-events-items {
        background: rgb(255, 255, 255) url(../media/bg-espacio-audi.png)no-repeat;
        background-size: 100%;
        position: absolute;
        width: 46%;
        top: 24%;
        left: 27%;
        text-align: center;
        z-index: 999;
    }

    .cont-comercial-items {
        width: 25%;
        background: transparent;
        height: auto;
        position: absolute;
        top: 31%;
        left: 4%;
        transform: skew(0deg, 3deg);
    }


    .cont-comercial-items a:nth-child(1) {
        background: transparent;
        color: #666666;
        width: 85%;
        display: inline-block;
        position: absolute;
        top: 7px;
        left: 19px;
        height: 40px;
        transform: skew(0deg, -2deg);
        text-align: center;
        padding-top: 10px;
    }

    .cont-comercial-items a:nth-child(2) {
        background: transparent;
        width: 85%;
        display: inline-block;
        position: absolute;
        top: 49px;
        left: 19px;
        height: 40px;
        transform: skew(-0deg, -5deg);
        text-align: center;
        color: #666666;
        padding-top: 10px;
    }

    .cont-comercial-items a:nth-child(3) {
        background: transparent;
        width: 85%;
        display: inline-block;
        position: absolute;
        top: 92px;
        left: 19px;
        height: 40px;
        transform: skew(0deg, -6deg);
        text-align: center;
        color: #666666;
        padding-top: 10px;
    }

    .cont-comercial-items a:nth-child(4) {
        background: transparent;
        width: 85%;
        display: inline-block;
        position: absolute;
        top: 136px;
        left: 19px;
        height: 40px;
        transform: skew(0deg, -6deg);
        text-align: center;
        color: #666666;
        padding-top: 10px;
    }

    .cont-comercial-items a:nth-child(5) {
        background: transparent;
        width: 85%;
        display: inline-block;
        position: absolute;
        top: 175px;
        left: 19px;
        height: 40px;
        transform: skew(0deg, -6deg);
        text-align: center;
        color: #666666;
        padding-top: 10px;
    }

    .cont-menu-bottom {
        position: absolute;
        bottom: 0;
        text-align: right;
        left: 0;
        right: 0;
        padding-bottom: 10px;
        padding-right: 20px;
        z-index: 9;
    }

    .cont-menu-bottom .menu-item img {
        width: 100%;
        transition: .5s;
        position: relative;
    }

    .cont-menu-bottom .menu-item {
        width: 60px;
    }

    #cont-lobby .muestra-comercial {
        position: absolute;
        left: 2%;
        top: 2%;
        height: 50%;
        width: 28%;
        background: transparent;
        text-align: center;
        color: transparent;
    }

    #cont-lobby .auditorio {
        position: absolute;
        right: 2%;
        top: 2%;
        height: 50%;
        width: 28%;
        background: transparent;
        text-align: center;
        color: transparent;
        padding-top: 14px;
    }

    #cont-auditorio .cont-events-items .header-events {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px 0 0;
    }

    #cont-auditorio .cont-events-items .header-events h2 {
        font-size: 12px;
        padding: 8px;
    }

    #cont-auditorio .cont-events-items .header-events img {
        width: 80px;
    }

    .cont-events-items .cont-btns .btn-bloque {
        font-size: 12px;
        padding: 7px 35px;
    }

    #cont-auditorio .cont-events-items p.aviso {
        font-size: 10px;
    }

    #cont-auditorio .cont-poster-righta {
        width: 19%;
        height: 49%;
        background: #ffffff;
        position: absolute;
        right: 4%;
        top: 23%;
    }

    #cont-botones-inf .btn-bloque {
        font-size: 10px;
        font-weight: 400;
        padding: 5px;
        margin-top: 0;
    }
    #cont-botones-inf{
        bottom: -11px;
    }
    #cont-auditorio .cont-events-items .header-events img.bloque{
        width: 150px;
    }

    #cont-auditorio .cont-events-items .item-events table tr td h4{
        font-size: 8px;
    }

    #cont-auditorio .cont-events-items .item-events table tr td img{
        width: 35px;
    }
    #cont-auditorio .cont-events-items .item-events table tr td{
        padding: 2px;
    }

    #cont-auditorio .cont-poster-righta h4 {
        font-size: 12px;
        padding: 8px 6px;
        font-weight: 400;
    }

    #cont-auditorio .cont-poster-righta ul li a img {
        width: 40px;
        position: relative;
        z-index: 2;
        background: #57167d;
        border-radius: 50%;
        padding: 3px;
        transition: .5s;
        border: 3px solid #e7efff;
    }

    #cont-auditorio .cont-poster-righta ul li a span {
        background: linear-gradient(#df94ff, #6e3a91);
        padding: 10px 12px 10px 22px;
        color: #ffffff;
        width: auto;
        border-radius: 0px 24px 24px 0;
        position: relative;
        left: -20px;
        z-index: 0;
        font-weight: 400;
        transition: .5s;
        font-size: 12px;
    }

}
